/* General */

.btn-red {
    color: #fff;
    background-color: #db0000;
    border-color: #db0000;
}

.btn-blu {
    color: #fff;
    background-color: #1600db;
    border-color: #1600db;
    font-weight: bold;
}

.pt-6 {
    padding-top: 6rem!important;
}

.grey {
    background-color: #BEBCBB;
}

h1 {
    color: white;
}

.thumb img {
    width: 100%;
    border-radius: 30px;
}

/* HEADER */

.blackhead {
    background-color: black;
}

.blackhead img {
    width: 75px;
}

.search {
    background-color: transparent;
    border: none;
}

.search:hover,
.search:focus,
.search:active {
    background-color: transparent;
    box-shadow: none;
}

.search img {
    width: 30px;
}


/* JUMBO */

.jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotxt img {
    width: 15em;
}

/* sezione bianca */

.white {
    color: black;
}

.titolo_blu {
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
}

.play5 img {
    width: 80%;
}

.select {
    border-bottom: 2px solid #1600db;
}


/* JUMBO 2 */

.jumbo2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/*new game*/

.bg-newgame {
    background-color: #1F1F1F;
    color: #fff;
}

.newgame img {
    width: 100%;
    border-radius: 25px;
}

/* ps plus */ 

.ps-plus img {
    width: 250px;
    padding-bottom: 3rem;
}